<app-header></app-header>

<div class="container jumbotron">
  <div class="row">

<div class="col-md-12 text-center">
  <h2>e-PUC Portal</h2>
</div>

<div class="col-md-4 col-md-offset-4">
  <div class="Absolute-Center">


  <form method="post" action="login.jsp" text-align="center">

    <form action="/login.jsp" method="post">
<div class="form-group">
<label for="email">User Id:</label>
<input name="uid" type="text" class="form-control" id="email">
</div>
<div class="form-group">
<label for="pwd">Password:</label>
<input name="pass" type="password" class="form-control" id="pwd">
</div>
<div class="checkbox">
<label><input type="checkbox"> Remember me</label>
</div>
<button type="submit" class="btn btn-default btn-primary">Submit</button>
</form>
</form>


</div>
</div>








            <!-- <table border="1" width="30%" cellpadding="3">
                <thead>
                    <tr>
                        <th colspan="2">Login Here</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>User Id</td>
                        <td><input type="text" name="uid" value="" /></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="pass" value="" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Login" /></td>
                        <td><input type="reset" value="Reset" /></td>
                    </tr>

                </tbody>
            </table> -->




  </div>

</div>


<app-footer></app-footer>
